<section>
        <div class="advert" id="ta2">
            <script type="text/javascript"><!--
						google_ad_client = "ca-pub-1110730152886910";
						/* blogBottom */
						google_ad_slot = "1639236970";
						google_ad_width = 728;
						google_ad_height = 90;
						//-->
            </script>
            <script type="text/javascript"
                    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
</section>
<script type="text/javascript">
			(function() {
					window.disqus_shortname = 'varunpant';
					var s = document.createElement('script');
					s.async = true;
					s.type = 'text/javascript';
					s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
				}());

</script>