<link type="application/opensearchdescription+xml" rel="search" title="Varun Pant"
          href="//www.varunpant.com/opensearch.axd"/>

<link rel="me" type="text/html" href="//plus.google.com/108455320594011020517?rel=me">
<link rel="me" type="text/html" href="//varunpant.com/feed">
<link rel="me" type="text/html" href="//twitter.com/varunpant">
<link rel="me" type="text/html" href="//www.facebook.com/varun.pant">

<meta name="msvalidate.01" content="B96ED99B0213B547253C91D27272A5E4" />
<meta name="google-site-verification" content="yu9tlev9-FkUUc0UkPrKP-8ren886--1FcSINU0TJDY" />
<meta http-equiv="X-XRDS-Location" content="//www.myopenid.com/xrds?username=varunpant.myopenid.com" />
<meta name="syndication" content="//feeds.feedburner.com/varun.pant" />
